* {
    margin: 0;
    padding: 0;
  }
  #heading {
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
    background-color: #ffa07a;

  }
  body {
    background-color: #fffacd;
  }
  #Ebill {
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    background-color: #5f9ea0;
    color: #ffff;
    text-align: center;
    border-collapse: collapse;
  }
  table {
    padding: 12px 0px;
  }
  tr,
  td {
    border: 2px solid #ddd;
    padding: 8px;
  }
#result{
 color: #770080;
 font-weight: bold;
}